# Eclipse
.classpath
.project
.settings/
*.log
*.cmd

# Intellij
.idea/
*.iml
*.iws
*.ipr

# Mac
.DS_Store

# Maven
log/
target/
out/
build/
.gradle/
.gradletasknamecache
/bin
mem.h2.db
/bin/

# ansible
application.pid
application.port
application.deploytime
application.version
classes/